<% provide(:title, @title) %>
<%= render 'parent_form' if signed_in? %>
<h3>Children</h3>
<% if @children.any? %>
<div class='row'>
  <%= render @children %>
</div>
<%= will_paginate @children%>
<% end %>
