<% provide(:title, @title) %>
<style>
.popover{
    width:100%; 
}
</style>
<%= render 'parent_form' if signed_in? %>
<h3>Children</h3>
<% if @children.any? %>
<div class='row'>
  <%= render @children %>
</div>
<%= will_paginate @children%>
<script>
  $('[rel=popover]').popover({placement:'bottom', html:true, trigger:'hover'})
  $('#signin_button').click(function(){
    alert('You\'ve Signed In!')
  })
  $('#signout_button').click(function(){
    alert('You\'ve Signed Out!')
  })
</script>
<% end %>
