<% provide(:title, @title) %>
<div class='page-header'>
  <h3><%= @user.name %></h3>
</div>
<div class='row'>
  <div class='col-md-3'>
    <%= gravatar_for @user, size:250 %>
  </div>
  <div class='col-md-9'>
  <form>
    <div class='form-group'>
      <label>Work Brought</label>
      <select multiple class='form-control' size=6>
        <option>Math</option>
        <option>English</option>
        <option>History</option>
        <option>Science</option>
        <option>Computer</option>
      </select>
      <button name='signin_button' class="btn btn-primary">Check in</button>
    </div>
  </form>
  </div>
</div>

<script>
  $('[rel=popover]').popover({placement:'bottom', html:true, trigger:'hover'})
  $('[name=signin_button]').click(function(){
    alert('You\'ve Signed In!')
  })
</script>
