<% provide(:title, 'Feedback') %>
<div class='row'>
  <%= image_tag("girl1_.jpg") %>
  <%= image_tag("girl2_.jpg") %>
</div>
<label>Feedback from Instructors</label>
<textarea class='form-control'></textarea>
<br><div><b>Grade: 10</b></div><br>
<label>Attendance</label>
<table class='table'>
  <tbody>
      <tr>
        <th>Time</th>
        <th>Date</th>
        <th>By Whom</th>
        <th>Attended?</th>
      </tr>
      <tr>
        <td>10:00</td>
        <td>2013-11-20</td>
        <td>Jane Doe</td>
        <td>True</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>2013-11-20</td>
        <td>Jane Doe</td>
        <td>True</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>2013-11-20</td>
        <td>Jane Doe</td>
        <td>True</td>
      </tr>
	</tbody>
</table>