<% provide(:title, 'Home') %>
<div class='center jumbotron'> Your Kids </div>
<%= render 'shared/stats' %>
<table class="col-md-8 table table-borered">
  <tr>
    <th>Picture</th>
    <th>Info</th>
    <th>Actions</th>
  <tr>
    <td><%= image_tag("girl1_.jpg") %></td>
    <td>
      Jane Doe
      <ul>
        <li>8</li>
        <li>Grade 3</li>
      </ul>
    </td>
    <td><div class="btn btn-default">Check in</div><br>
    <div class="btn btn-default">Check out</div></td>
  </tr>
  <tr>
    <td><%= image_tag("girl2_.jpg") %></td>
    <td>
      Jane Doe
      <ul>
        <li>9</li>
        <li>Grade 4</li>
      </ul>
    </td>
    <td><div class="btn btn-default">Check in</div><br>
    <div class="btn btn-default">Check out</div></td>
  </tr>
</table>