<% provide(:title, @title) %>
<h3>Statistics</h3>
Total Number of Users: <%= User.count %><br>
Total Number of Students: <%= Student.count %><br>
Total Number of Parents: <%= Parent.count %><br>
Total Number of Volunteers: <%= Volunteer.count %><br>