<% provide(:title, @title) %>
<div class='page-header'>
  <h3>Statistics</h3>
</div>
Total Number of Users: <%= User.count %><br>
Total Number of Students: <%= Student.count %><br>
Total Number of Parents: <%= Parent.count %><br>
Total Number of Volunteers: <%= Volunteer.count %><br>