@import "bootstrap";
@import "flat-ui";
@import "font-awesome";

.page-header {
  margin-top: -0.9em;
  padding-bottom: 10px;
  text-align: center;
}

.tab-content .list-group-item {
  border-left: none;
  border-right: none;
  &:first-child {
    border-top: none;
  }
}

.panel-default {
  .panel-heading: {
    background-color: #526476;
    color: #526476;
    border-color: #526476;
  }
}

.navbar {
  margin-bottom: 0; 
}

.tab-content {
  padding: 0;
}

.navbar-inverse .nav > li > a {
  border: none !important; 
}
.navbar-inverse .navbar-brand{
  border: none;
}

.navbar-inverse .nav.navbar-right{
  margin-right: 1em;
}