.page-header {
  margin-top: -0.9em;
  padding-bottom: 10px;
  text-align: center;
}

.tab-content .list-group-item {
  border-left: none;
  border-right: none;
  &:first-child {
    border-top: none;
  }
}

.navbar {
  margin-bottom: 0; 
}
.tab-content {
  padding: 0;
}

.navbar-inverse .nav > li > a {
  border: none !important; 
}
.navbar-inverse .navbar-brand{
  border: none;
}

.navbar-inverse .nav.navbar-right{
  margin-right: 1em;
}